body {
    margin: 0 auto;
}

:root {
    --black: #040507;
    --cream: #f9f1f0;
    /* --dusty-rose: #f8afa6; */
    --gold-1: #d3ac66;
    --gold-2: #eed033;
    --rose-gold: #b76e79;
    --white: #ffffff;
}

.about {
    height: auto; 
    width: auto;
}

.about img {
    max-width:500px;
    height:auto;
  }

/*** GALLERY ***/

.gallery {
    height: 500px;
    width: 500px; 
}

.gallery img {
    height: 100%; 
    /* width: 100%; */
    /* display: flex;  */
}