body {
    background-color: #040507;
}

:root {
    --black: #040507;
    --cream: #f9f1f0;
    --dusty-rose: #f8afa6;
    --gold-1: #d3ac66;
    --gold-2: #eed033;
    --rose-gold: #b76e79;
    --white: #ffffff;
}

h1 {
    font-family: Cookie, sans-serif;
}

.color1 {
    color: var(--gold-1);
}

.color2 {
    color: var(--gold-2);
}

.color3 {
    color: var(--rose-gold);
}

.color7 {
    color: var(--cream);
}